{
  "presets": [
    "react", [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "loose": true,
        "modules": false,
        "debug": true
      }
    ],
    "stage-3"
  ],
  "retainLines": true,
  "plugins": [
    "syntax-dynamic-import",
    "dynamic-import-webpack",
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",
        "react-hot-loader/babel"
      ]
    }
  }
}
