{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "debug": true
      }
    ],
    "react",
    "babel-preset-react"
  ],
  "plugins": ["syntax-dynamic-import", "transform-class-properties", "transform-object-rest-spread", "transform-flow-strip-types"],
  "env": {
    "development": {
      "plugins": ["transform-runtime", "react-hot-loader/babel"]
    }
  }
}
