{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "debug": true
      }
    ],
    "react",
    "babel-preset-react"
  ],
  "plugins": [],
  "env": {
    "development": {
      "plugins": ["transform-runtime", "react-hot-loader/babel", "syntax-dynamic-import"]
    }
  }
}
