// CSS COMMENTS
.test {
  background-color: #444;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5em;
  font-family: sans-serif;
  text-shadow: 0 0 20px black;
  margin-top: 50px;
  margin-bottom: 0;
}

h2 {
  font-family: sans-serif;
}

.image {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  height: 300px;
  width: 300px;
}

.svg-image {
  height: 80px;
  width: auto;
  margin-top: 20px;
}